*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

svg {
	-webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

html, body{height: 100%;}

::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: rgb(60, 60, 60);
}
::-webkit-scrollbar-thumb{
	background: rgb(130, 130, 130);
}
::-webkit-scrollbar-thumb:hover{
	background: rgb(160, 160, 160);
}

.sidebar{
	float: left;
	width: 250px;
	padding: 10px 10px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: black;
}

.sidebar-wraper{
	padding-bottom: 200px;
}

.sidebar__menu{
	margin: 20px 0;
	color: rgb(190, 190, 190);
}

.sidebar__logo img{
	max-width: 250px;
	width: 100%;
}

.sidebar__menu a{
	color: rgb(190, 190, 190);
	text-decoration: none;
	display: block;
	padding: 10px 0;
}

.sidebar__menu svg {
	margin: 0 20px;
}

.sidebar__menu a.sidebar__menu__selected{
	color: white;
	background-color: rgb(80, 80, 80);
	border-radius: 5px;
}

.sidebar__menu__item{
	margin-top: 12px;
	cursor: pointer;
	vertical-align: middle;
}

.sidebar__menu p.sidebar__menu__title{
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

.sidebar__menu__item__component{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	color: black;
	font-weight: bold;
	background-color: white;
	border-radius: 3px;
}

.sidebar__menu__item span{
	font-weight: bold;
	font-size: 14px;
	padding: 0 10px;
}

.sidebar__menu__item img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	border-radius: 3px;
}

.sidebar__playlists{
	padding: 20px 0;
	border-top: 1px solid rgb(40, 40, 40);
}

.sidebar__playlists a{
	display: inline-block;
	color: rgb(190, 190, 190);
	text-decoration: none;
	word-wrap: break-word;
    width: 80%;
	font-weight: bold;
	font-size: 14px;
    vertical-align: middle;
        padding: 0 10px;
}

.sidebar__playlists a:hover{
	color: white;
}

.sidebar__playlists__item{
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 10px;
}

.sidebar__playlists__item img{
	width: 40px;
	height: 40px;
	vertical-align: middle;
	display: inline-block;
	border-radius: 3px;
}

/*MAIN*/

.main{
	width: calc(100% - 250px);
	background-color: rgb(30, 30, 30);
	height: 100%;
	float: left;
	padding: 15px 50px;
	overflow-y: auto;
}

.main__row{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.main-wraper{
	padding-bottom: 200px;
}

.main__row__title{
	width: 100%;
}

.main__row__title h2{
	color: white;
}

.main__col{
	cursor: pointer;
	width: 10%;
	margin-right: 1%;
	margin-top: 20px;
	background-color: #282828;
	border-radius: 8px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  transition: 0.3s;
}

.main__col:hover {
	background-color: #454545;
	transform: scale(1.05);
}

.main__col h3{
	color: white;
	margin: 8px 0;
}

.main__col p{
	color: rgb(100, 100, 100);
	margin: 8px 0;
	font-size: 13px;
}

.main__col img{
	width: 120px;
    border-radius: 5px;
	height: 120px;
}

.main__col.active {
	background-color: #3b3b3b;
	color: #fff;
}

.main__col[title] {
	opacity: 0.6;
	cursor: not-allowed;
}


/*	PLAYER 		*/

.player{
	width: 100%;
	padding: 20px;
	height: 120px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	background-color: rgb(60, 60, 60);
	align-items: center;
    justify-content: center;
}

.player__artist{
	width: 20%;
	display: flex;
	align-items: center;
	position: absolute;
	left: 20px;
}

.player__artist img{
	max-width: 70px;
	display: inline-block;
	vertical-align: middle;
}

.player__artist h3{
	display: inline-block;
	color: white;
	font-weight: normal;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
}

.player__artist h3 > span{
	color: rgb(200, 200, 200);
	font-size: 13px;
}

.player__control{
	width: 70%;
	text-align: center;
	    top: 10px;
    position: relative;
}

.player__control__buttons a{
	color: white;
	margin: 8px 15px;
	font-size: 18px;
}

.player__control__progress{
	width: 100%;
	max-width: 600px;
	height: 7px;
	margin-top: 20px;
	position: relative;
	border-radius: 8px;
	display: inline-block;
	background: rgb(130, 130, 130);
	cursor: pointer;
}

.player__control__progress2{
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 7px;
	border-radius: 8px;
	background-color: white;
}

.player__time__current{
	position: relative;
	color: white;
	font-size: 16px;
	margin-left: -50px;
	top: -7px;
	text-align: left;
}

.player__time__total{
	position: relative;
	color: white;
	font-size: 16px;
	margin-right: -50px;
	top: -27px;
	text-align: right;
}

.volumeControl {
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.volumeControl::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgb(130, 130, 130), rgb(130, 130, 130)), white;
    height: 3px;
    background-size: var(--background-size, 0%) 100%;
  	background-repeat: no-repeat;
}

.volumeControl::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    background: rgb(130, 130, 130);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border: solid white 1px;
}

.volume-container {
	display: flex;
	align-items: center;
	position: absolute;
	right: 50px;
}


.playlist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}













@media screen and (max-width: 1700px) {
	.main__col{
		width: 20%;
	}
	.player__control{
		width: 50%;
	}
	.player__artist{
		width: 30%;
	}
}

@media screen and (max-width: 1366px) {
	.main__col{
		width: 20%;
	}
	.player__control{
		width: 50%;
	}
	.player__artist{
		width: 30%;
	}
}

@media screen and (max-width: 768px) {
	.main__col{
		width: 48%;
		margin-right: 2%;
	}
	.sidebar{
		display: none;
	}
	.main{
		width: 100%;
		padding: 10px 20px;
	}
	.volume-container{
		display: none;
	}
	.fa-backward, .fa-forward, .player__time__total, .player__time__current{
		display: none;
	}
	.player__artist{
		width: 80%;
		top: 15px;
	}
	.player__control__buttons {
        right: 0px;
        top: -65px;
        position: absolute;
        display: flex;
    }
	.player__control__buttons a{
		color: white;
    	margin: 0px 5px;
    	font-size: 52px;
	}
	.player__control {
        width: 95%;
        top: 90px;
        position: absolute;
    }

}